<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out">
          click me
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>

<center><img src="assets/icon/Duoc.png" class="p" ></center>

<ion-title>Bienvenidos!</ion-title>



</ion-content>




<ion-footer>
  <ion-toolbar color="red">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
